<template>
  <div>
    <div class="el-slider__label">{{ label }} <small style="font-weight: bold">{{ formatValue }}</small></div>
    <div class="el-slider yolo-slider">
      <el-input-number
        value="value"
        v-if="false"
        class="el-slider__input"
        ref="input"
        @change="emitChange"
        :step="step"
        disabled
        :min="min"
        :max="max"
        :debounce="debounce"
      >
      </el-input-number>
      <div
        class="el-slider__runway"
        role="slider"
        :class="{ disabled: sliderDisabled }"
        @click="onSliderClick"
        ref="slider"
      >
        <div class="el-slider__bar" :style="barStyle">
<!--          <div class="el-slider__bar__innerText">{{ formatValue }}</div>-->
        </div>
        <div
          class="el-slider__button-wrapper"
          @mouseenter="handleMouseEnter"
          @mouseleave="handleMouseLeave"
          @mousedown="onButtonDown"
          @touchstart="onButtonDown"
          :class="{ hover: this.button.hovering, dragging: this.dragging }"
          :style="wrapperStyle"
          ref="button"
          tabindex="0"
          @focus="handleMouseEnter"
          @blur="handleMouseLeave"
          @keydown.left="onLeftKeyDown"
          @keydown.right="onRightKeyDown"
          @keydown.down.prevent="onLeftKeyDown"
          @keydown.up.prevent="onRightKeyDown"
        >
          <el-tooltip placement="top" ref="tooltip" :disabled="true">
            <div
              class="el-slider__button"
              :class="{ hover: button.hovering, dragging: dragging }"
            ></div>
          </el-tooltip>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
export default {
  name: "YoloSlider",
  inject: {
    elForm: {
      default: "",
    },
  },
  props: {
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 100,
    },
    step: {
      type: Number,
      default: 1,
    },
    value: {
      type: Number,
      default: 20,
    },
    label: {
      type: String,
    },
    barStart: {
      type: String,
      default: "0%",
    },
    formatTooltip: Function,
    disabled: {
      type: Boolean,
      default: false,
    },
    debounce: {
      type: Number,
      default: 300,
    },
  },

  data() {
    return {
      currentValue: this.value,
      oldValue: null,
      dragging: true,
      sliderSize: 1,
      button: {
        hovering: false,
        isClick: false,
        startX: 0,
        currentX: 0,
        startPosition: 0,
        newPosition: null,
      },
    };
  },
  watch: {
    value(val) {
      this.currentValue = val;
    },
  },
  methods: {
    valueChanged() {
      return this.currentValue !== this.oldValue;
    },
    resetSize() {
      this.sliderSize = this.$refs.slider[`clientWidth`];
    },
    setPosition(newPosition) {
      if (newPosition === null || isNaN(newPosition)) return;
      if (newPosition < 0) {
        newPosition = 0;
      } else if (newPosition > 100) {
        newPosition = 100;
      }
      const lengthPerStep = 100 / ((this.max - this.min) / this.step);
      const steps = Math.round(newPosition / lengthPerStep);
      let value =
        steps * lengthPerStep * (this.max - this.min) * 0.01 + this.min;
      value = parseFloat(value.toFixed(this.precision));
      this.currentValue = value;
      this.$nextTick(() => {
        this.$refs.tooltip && this.$refs.tooltip.updatePopper();
      });
    },

    onSliderClick(event) {
      if (this.sliderDisabled || this.dragging) return;
      const sliderOffsetLeft = this.$refs.slider.getBoundingClientRect().left;
      this.setPosition(
        ((event.clientX - sliderOffsetLeft) / this.sliderSize) * 100
      );
      this.emitChange();
    },

    emitChange() {
      this.$nextTick(() => {
        this.$emit("change", this.currentValue, this.oldValue);
         this.oldValue = this.currentValue;
      });
    },
    handleMouseEnter() {
      this.button.hovering = true;
    },
    handleMouseLeave() {
      this.button.hovering = false;
    },
    onButtonDown(event) {
      if (this.sliderDisabled) return;
      event.preventDefault();
      this.onDragStart(event);
      window.addEventListener("mousemove", this.onDragging);
      window.addEventListener("touchmove", this.onDragging);
      window.addEventListener("mouseup", this.onDragEnd);
      window.addEventListener("touchend", this.onDragEnd);
      window.addEventListener("contextmenu", this.onDragEnd);
    },
    onLeftKeyDown() {
      if (this.sliderDisabled) return;
      this.button.newPosition =
        parseFloat(this.currentPosition) -
        (this.step / (this.max - this.min)) * 100;
      this.setPosition(this.button.newPosition);
      this.emitChange();
    },
    onRightKeyDown() {
      if (this.sliderDisabled) return;
      this.button.newPosition =
        parseFloat(this.currentPosition) +
        (this.step / (this.max - this.min)) * 100;
      this.setPosition(this.button.newPosition);
      this.emitChange();
    },
    onDragStart(event) {
      this.dragging = true;
      this.button.isClick = true;
      if (event.type === "touchstart") {
        event.clientY = event.touches[0].clientY;
        event.clientX = event.touches[0].clientX;
      }
      this.button.startX = event.clientX;
      this.button.startPosition = parseFloat(this.currentPosition);
      this.button.newPosition = this.button.startPosition;
    },
    onDragging(event) {
      if (this.dragging) {
        this.button.isClick = false;
        this.resetSize();
        if (event.type === "touchmove") {
          event.clientY = event.touches[0].clientY;
          event.clientX = event.touches[0].clientX;
        }
        this.button.currentX = event.clientX;
        let diff = (diff =
          ((this.button.currentX - this.button.startX) / this.sliderSize) *
          100);
        this.button.newPosition = this.button.startPosition + diff;
        this.setPosition(this.button.newPosition);
      }
    },
    onDragEnd() {
      if (this.dragging) {
        /*
         * 防止在 mouseup 后立即触发 click，导致滑块有几率产生一小段位移
         * 不使用 preventDefault 是因为 mouseup 和 click 没有注册在同一个 DOM 上
         */
        setTimeout(() => {
          this.dragging = false;
          if (!this.button.isClick) {
            this.setPosition(this.button.newPosition);
            this.emitChange();
          }
        }, 0);
        window.removeEventListener("mousemove", this.onDragging);
        window.removeEventListener("touchmove", this.onDragging);
        window.removeEventListener("mouseup", this.onDragEnd);
        window.removeEventListener("touchend", this.onDragEnd);
        window.removeEventListener("contextmenu", this.onDragEnd);
      }
    },
  },

  computed: {
    barSize() {
      return `${
        (100 * (this.currentValue - this.min)) / (this.max - this.min)
      }%`;
    },

    precision() {
      let precisions = [this.min, this.max, this.step].map((item) => {
        let decimal = ("" + item).split(".")[1];
        return decimal ? decimal.length : 0;
      });
      return Math.max.apply(null, precisions);
    },

    barStyle() {
      return {
        width: this.barSize,
        left: this.barStart,
      };
    },

    sliderDisabled() {
      return this.disabled;
    },
    wrapperStyle() {
      return { left: this.currentPosition };
    },
    currentPosition() {
      return `${
        ((this.currentValue - this.min) / (this.max - this.min)) * 100
      }%`;
    },
    formatValue() {
      return (
        (this.formatTooltip && this.formatTooltip(this.currentValue)) ||
        this.currentValue
      );
    },
  },
  mounted() {
    if (typeof this.value !== "number" || isNaN(this.value)) {
      this.currentValue = this.min;
    } else {
      this.currentValue = Math.min(this.max, Math.max(this.min, this.value));
    }
    this.oldValue = this.currentValue;
    this.resetSize();
    window.addEventListener("resize", this.resetSize);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resetSize);
  },
};
</script>

<style scoped>
.yolo-slider.el-slider .el-slider__runway {
  height: 24px !important;
  margin: 10px 0;
}
.yolo-slider.el-slider .el-slider__bar {
  height: 24px;
  background-color: #67c23a;
}

.yolo-slider.el-slider .el-slider__button-wrapper {
  top: -8px;
}

.yolo-slider.el-slider .el-slider__button-wrapper .el-tooltip {
  height: 24px;
  width: 24px;
  border-color: #67c23a;
}

.yolo-slider.el-slider .el-slider__bar__innerText {
  transform: translateX(-20px);
  text-align: right;
  line-height: 24px;
}
</style>