<template>
  <div>
    <el-drawer
      :title="drawerTitle"
      :visible.sync="uiForm.dialog"
      @open="openDeviceInfoDrawer"
      @closeDrawer="cancelForm"
      direction="rtl"
      custom-class="register-device-drawer"
      size="40%"
      :destroy-on-close="true"
    >
      <div class="demo-drawer__content">
        <el-form
          :model="device"
          ref="deviceInfoForm"
          label-width="100px"
          label-position="left"
          :disabled="uiForm.disabled"
        >
          <div :v-show="uiForm.invalid" class="w-100" style="color: red">
            {{ uiForm.errorMsg }}
          </div>
          <el-form-item label="Category" prop="category">
            <el-select v-model="uiForm.categoriesSelected"  placeholder="Select">
              <el-option
                v-for="category in uiForm.categories"
                :key="category.value"
                :label="category.label"
                :value="category.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Device ID" prop="deviceId">
            <el-input v-model="device.deviceId" readonly :disabled="true">
            </el-input>
          </el-form-item>
          <el-form-item label="Device Name" prop="deviceName">
            <el-input v-model="device.deviceName" clearable></el-input>
          </el-form-item>
          <el-form-item label="MT" prop="mt">
            <el-input v-model="device.mt" clearable></el-input>
          </el-form-item>
          <el-form-item label="SN" prop="sn">
            <el-input v-model="device.sn" clearable></el-input>
          </el-form-item>
        </el-form>
        <div class="demo-drawer__footer">
          <el-button
            type="primary"
            @click="submitForm()"
            :disabled="uiForm.disabled"
            :loading="confirmLoading"
          >
            Confirm
          </el-button>
          <el-button @click="cancelForm">Cancel</el-button>
        </div>
      </div>
    </el-drawer>
  </div>
</template>
<script>
export default {
  name: "DeviceInfo",
  props: {
    deviceId: {
      Type: String,
    },
    drawerType: {
      type: String,
      default: "add",
    },
  },
  watch: {
    deviceId(deviceId) {
      this.uiForm.deviceId = deviceId;
    },
    drawerType(actionType) {
      this.uiForm.actionType = actionType;
    },
  },
  computed: {
    drawerTitle() {
      return "add" == this.uiForm.actionType
        ? "Register Device"
        : "Device Info";
    },
  },
  data() {
    return {
      confirmLoading: false,
      uiForm: {
        categories: [],
        categoriesSelected: '',
        dialog: false,
        invalid: false,
        errorMsg: "",
        disabled: false,
        deviceId: this.deviceId,
        deviceName: '',
        actionType: this.drawerType,
      },
      defaultDeviceInfo: {
        category: 1,
        deviceId: "",
        deviceName: "Cactus Flower",
        mt: "YOLO",
        sn: "YOLO000001",
        userId: sessionStorage.getItem("userId"),
      },
      device: {
        category: 1,
        deviceId: "",
        deviceName: "Cactus Flower",
        mt: "YOLO",
        sn: "YOLO000001",
        userId: sessionStorage.getItem("userId"),
      },
    };
  },
  methods: {
    toggleDrawer(open) {
      this.uiForm.dialog = open;
    },
    openDeviceInfoDrawer() {
      this.uiForm.categories.length = 0;
      this.$axios
        .get("/api/device/register/ui")
        .then((response) => {
          if (response.statusCode == 200) {
            response.data.categories.forEach((category) => {
              this.uiForm.categories.push({
                value: category.id,
                label: category.name,
              });
            });
          } else {
            this.uiForm.invalid = true;
            this.uiForm.errorMsg = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
          this.$notify.success({
            title: "error",
            message: "Unkown error!",
            showClose: false,
            duration: 5,
          });
        });
      if ("add" != this.uiForm.actionType && this.uiForm.deviceId) {
        this.loadDeviceInfo();
      } else {
        this.device = this.defaultDeviceInfo;
      }
    },
    submitForm() {
      this.uiForm.disabled = true;
      this.confirmLoading = true;
      this.$refs.deviceInfoForm.validate((valid) => {
        if (valid) {
          this.uiForm.invalid = false;
          this.$axios
            .post("/api/device/register", this.device)
            .then((response) => {
              if (response.statusCode == 200) {
                this.device = response.data;
                this.confirmLoading = false;
                this.$notify.success({
                  duration: 3000,
                  title: "info",
                  message: "Register Device Successfully!",
                });
              } else {
                this.uiForm.disabled = false;
                this.uiForm.invalid = true;
                this.confirmLoading = false;
                this.uiForm.errorMsg = response.data;
              }
            })
            .catch((error) => {
              this.uiForm.disabled = false;
              this.confirmLoading = false;
              console.log("register device errro,", error);
              this.$notify.success({
                duration: 0,
                title: "error",
                message: "Unknown error!",
              });
            });
        } else {
          this.uiForm.disabled = false;
          this.confirmLoading = false;
          console.log("register device invalid!!");
          return false;
        }
      });
    },
    cancelForm() {
      this.uiForm.loading = false;
      this.uiForm.dialog = false;
      this.uiForm.disabled = false;
      this.$refs.deviceInfoForm.resetFields();
      // this.$parent.loadMyDevices();
      this.$emit("loadMyDevices");
    },
    loadDeviceInfo() {
      this.$axios
        .get("/api/device/" + this.uiForm.deviceId)
        .then((response) => {
          if (response.statusCode == 200) {
            this.device = response.data;
            this.toggleDrawer(true);
          } else {
            console.log(response.data);
            this.$notify.success({
              title: "error",
              message: "Load device error!",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          alert(error);
        });
    },
  },
};
</script>
<style>
.register-device-drawer {
  padding: 20px;
}
</style>