<template>
  <div role="main">
    <el-container>
      <el-container>
        <el-aside>
          <el-menu
            router
            :default-active="$route.path"
            unique-opened
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b"
          >
            <el-submenu index="/">
              <template slot="title">
                <span slot="title">Dashboard</span>
              </template>
              <el-menu-item index="/myDashboard"> My Dashboard </el-menu-item>
              <el-menu-item index="/myDevices">My Devices</el-menu-item>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main :style="backgroundImg"
          >Welcome to Yolo! {{ userFullName }}
          <router-view />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
export default {
  name: "Index",
  data() {
    return {
      backgroundImg: {
        backgroundImage: "url(" + require("../assets/yolo.png") + ")",
        backgroundSize: "100% 100%",
        width: "100%",
        height: "100%",
        backgroundRepeat: 'no-repeat',
        backgroundPosition:'center center'
      },
    };
  },
  computed: {
    userFullName: function () {
      let userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
      return userInfo ? userInfo.firstName + " " + userInfo.lastName : "";
    },
  },
  methods: {},
};
</script>
<style>
div[role="main"],
.el-container,
.el-menu,
.el-aside {
  height: 100% !important;
}
.el-aside {
  width: 200px !important;
}
.el-menu {
  border-right: none;
}
.el-main {
  font-size: 1.25em;
}
.el-submenu,
.el-menu-item {
  text-align: left;
}
</style>