<template>
  <div class="login">
    <el-card>
      <h2>Login</h2>
    <el-form
      label-position="left"
      :model="form"
      ref="form"
      :rules="rules"
      class="login-form"
    >
      <div :v-show="form.invalid" class="w-100" style="color: red">
        {{ form.errorMsg }}
      </div>
      <el-form-item label="Username:" prop="username">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="Password:" prop="password">
        <el-input v-model="form.password" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="onSubmit('form')"
          :loading="form.loading"
          >Login</el-button
        >
      </el-form-item>
    </el-form>
    </el-card>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      form: {
        username: "fanjj13@lenovo.com",
        password: "Loesn123,.",
        invalid: false,
        errorMsg: "",
        loading: false,
      },
      rules: {
        username: [
          { required: true, message: "Username is required", trigger: "blur" },
        ],
        password: [
          { required: true, message: "Password is required", trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    onSubmit(modelForm) {
      this.$refs[modelForm].validate((valid) => {
        if (valid) {
          this.form.loading = true;
          this.$axios
            .post("/api/login", {
              username: this.form.username,
              password: this.form.password,
            })
            .then((response) => {
              if (response.statusCode == 200) {
                this.form.loading = true;
                sessionStorage.setItem("userId", response.data.userId);
                sessionStorage.setItem(
                  "userInfo",
                  JSON.stringify(response.data)
                );
                this.$router.push("/");
              } else {
                this.form.loading = false;
                this.form.invalid = true;
                this.form.errorMsg = response.data;
              }
            })
            .catch((error) => {
              console.log(error);
              alert(error);
            });
        } else {
          return false;
        }
      });
    },
  },
};
</script>
<style>
  .el-button--primary {
    background: #007c89;
    border-color: #007c89;
  }
  .el-button--primary:hover, .el-button--primary.active, .el-button--primary:focus {
    background: #009cad;
    border-color: #009cad;
  }
  .login .el-input__inner:hover {
    border-color: #007c89;
  }
  .login .el-input__prefix {
    background: #eeedea;
    left: 0;
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    border-radius: 3px;
  }
  .login .el-input__prefix .el-input__icon {
    width: 30px;
  }
  .login .el-input input {
    padding-left: 35px;
  }
  .login .el-card {
    padding-top: 0;
    padding-bottom: 30px;
  }
  h2 {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
  }
  a {
    color: #007c89;
    text-decoration: none;
  }
  a:hover, a:active, a:focus {
    color: #009cad;
  }
  .login .el-card {
    margin-top:120px;
    margin-left:500px;
    width: 340px;
    display: flex;
    justify-content: center;
  }
</style>