<template>
  <div class="dashboard-content">
    <div class="dashboard-main">
      <div
        class="device-item"
        style="width: 50%"
        v-loading="this.uiForm.monitorDeviceLoading"
        element-loading-text="loading devices..."
        element-loading-spinner="el-icon-loading"
      >
        <el-card
          class="box-card monitorDevice"
          v-for="huapen in monitorDevices"
          :id="'huapen-' + huapen.deviceId"
          :key="huapen.deviceId"
        >
          <div slot="header">
            <el-row type="flex">
              <el-col :span="6">
                <span>{{ huapen.deviceName }}</span>
              </el-col>
              <el-col :span="18" style="text-align: right">
                <i
                  class="el-icon-setting"
                  @click="showEnvInfo(huapen.deviceId, huapen.deviceName)"
                >
                  Mock Enviroment
                </i>
              </el-col>
            </el-row>
          </div>
          <el-row type="flex">
            <el-col :span="10">
              Humidity: {{ huapen.humidity ? huapen.humidity + "%" : envData.humidity + "%" }}
            </el-col>
            <el-col :span="14">
              Temperature: {{ huapen.temperature ? envData.temperature : "" }}°C
            </el-col>
          </el-row>
          <el-row type="flex">
            <el-col :span="14">Light: {{ huapen.light ? envData.light : "" }}</el-col>
          </el-row>
          <el-divider></el-divider>
          <el-row>
            <el-col :span="6">滴管</el-col>
            <el-col :span="6">窗帘</el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <transition name="fade" mode="in-out">
                <img :src="require('../assets/stop.png')" style="width: 20px;" v-if="!huapen.watering">
                <img :src="require('../assets/irrigation.png')" style="width: 20px;" v-else>
              </transition>
            </el-col>
            <el-col :span="6">
              {{ huapen.light }}
            </el-col>
          </el-row>
        </el-card>
      </div>
      <div
        class="device-item"
        v-show="this.uiForm.monitorEnvDeviceId"
        id="envDiv"
      >
        <el-card class="box-card env">
          <div slot="header">
            <span>Environment Information</span>
            <div style="font-weight: bold">{{ uiForm.deviceName }}</div>
          </div>
          <el-row>
            <el-col>
              <yolo-slider
                :value="envData.humidity"
                label="Humidity"
                :formatTooltip="
                  (value) => {
                    return value ? value + '%' : value;
                  }
                "
                @change="slideChangeHumidity"
              >
              </yolo-slider>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <yolo-slider
                class="yolo-slider-nouse"
                label="Temperature"
                :value="envData.temperature"
                :formatTooltip="
                  (value) => {
                    return value ? value + '°C' : value;
                  }
                "
                @change="slideChangeTemperature"
              >
              </yolo-slider>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <yolo-slider
                class="yolo-slider-nouse"
                :value="envData.light"
                label="Light"
                :formatTooltip="
                  (value) => {
                    return value;
                  }
                "
                :max="500"
                @change="slideChangeLight"
              >
              </yolo-slider>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <yolo-slider
                class="yolo-slider-nouse"
                :value="envData.pm25"
                label="PM2.5"
                :formatTooltip="
                  (value) => {
                    return value;
                  }
                "
              >
              </yolo-slider>
            </el-col>
          </el-row>
          <el-row>
            <el-col>
              <yolo-slider
                class="yolo-slider-nouse"
                :value="envData.noise"
                label="Noise"
                :formatTooltip="
                  (value) => {
                    return value ? value + 'db' : value;
                  }
                "
              >
              </yolo-slider>
            </el-col>
          </el-row>
        </el-card>
      </div>
    </div>
  </div>
</template>
<script>
import MyDevicesVue from "./MyDevices.vue";
import YoloSlider from "./yolo/yoloSlider.vue";
export default {
  name: "Dashboard",
  components: {
    "yolo-slider": YoloSlider,
  },
  data() {
    return {
      statsChange: 1,
      interval: null,
      updateInterval: 3000,
      maxTemp: 26,
      minTemp: 22,
      maxLight: 280,
      minLight: 290,
      minNoise: 60,
      maxNoise: 50,
      minPm: 34,
      maxPm:36,
      userId: sessionStorage.getItem("userId"),
      uiForm: {
        envShow: false,
        monitorEnvDeviceId: "",
        monitorDeviceLoading: true,
      },
      monitorDevices: [],
      monitorDevices2:{
        curtain: 100,
        windows: true
      },
      temperature: 20,
      envData: {
        temperature: 20,
        humidity: 30 + Math.ceil(Math.random() * 3) * 10,
        light: 284,
        pm25: 64,
        noise: 51,
      },
    };
  },
  watch: {
    updateInterval: function() {
      this.resetInterval();
    },
    statsChange: function(){
      this.slideChangeLight(this.envData.light);
    }
  },
  methods: {
    resetInterval: function() {
      let vm = this;
      clearInterval(this.interval);
      this.randomizeStats();
      this.interval = setInterval(function() {
        vm.randomizeStats();
      }, this.updateInterval);
    },
    randomizeStats: function() {
      this.statsChange = 0;
      this.envData.temperature = this.generateTemp();
      this.envData.light = this.generateLight();
      this.envData.noise = this.generateNoise();
      this.envData.pm25 = this.generatePm();
    },
    generateTemp() {
      return Math.floor(Math.random()*(this.maxTemp-this.minTemp+1)+this.minTemp);
    },
    generateLight(){
      return Math.floor(Math.random()*(this.maxLight-this.minLight+1)+this.minLight);
    },
    generateNoise(){
      return Math.floor(Math.random()*(this.maxNoise-this.minNoise+1)+this.minNoise);
    },
    generatePm(){
      return Math.floor(Math.random()*(this.maxPm-this.minPm+1)+this.minPm);
    },
    showEnvInfo(deviceId, deviceName) {
      this.uiForm.monitorEnvDeviceId = deviceId;
      this.uiForm.deviceName = deviceName;
    },
    slideChangeHumidity(newValue, oldValue) {
      this.monitorDevices.forEach((mDevice) => {
        if (this.uiForm.monitorEnvDeviceId == mDevice.deviceId) {
          mDevice.humidity = newValue;
          if (newValue > 30) {
            mDevice.watering = false;
          }
          if (newValue < 15) {
            mDevice.watering = true;
          }
          return;
        }
      });
    },
    slideChangeTemperature(newValue, oldValue) {
      this.monitorDevices.forEach((mDevice) => {
        if (this.uiForm.monitorEnvDeviceId == mDevice.deviceId) {
          mDevice.temperature = newValue;
          return;
        }
      });
    },
    slideChangeLight(newValue, oldValue) {
      this.statsChange = 1;
      this.monitorDevices.forEach((mDevice) => {
        if (this.uiForm.monitorEnvDeviceId == mDevice.deviceId) {
          this.envData.light = newValue;
          if (newValue < 30) {
            mDevice.light = 100
            // this.monitorDevices2.curtain = 100;
          } else if( newValue > 30 && newValue < 50){
            mDevice.light = 90
            // this.monitorDevices2.curtain = 90;
          } else if( newValue > 50 && newValue < 100 ){
            mDevice.light = 70
            // this.monitorDevices2.curtain = 70;
          } else if (newValue > 100 && newValue < 300) {
            mDevice.light = 50
            // this.monitorDevices2.curtain = 50;
          } else if(newValue > 300 && newValue < 500){
            mDevice.light = 20
            // this.monitorDevices2.curtain = 20
          }
          return;
        }
      });
    },
    loadMyMonitorHuaPen() {
      this.$axios
        .get("/api/user-devices/" + this.userId + "/monitor")
        .then((response) => {
          this.uiForm.monitorDeviceLoading = false;
          if (response.statusCode == 200) {
            this.monitorDevices.length = 0;
            const responseData = response.data;
            const devicelist = [];
            responseData.forEach((device) => {
              devicelist.push({
                deviceId: device.deviceId,
                deviceName: device.deviceName,
                temperature: device.temperature,
                humidity: device.humidity,
                light: device.light,
              });
            });
            this.monitorDevices = devicelist;
          } else {
            console.log(response.data);
            this.$notify.success({
              title: "error",
              message: "Load device error!",
            });
          }
        })
        .catch((error) => {
          this.uiForm.monitorDeviceLoading = false;
          console.log(error);
          alert(error);
        });
    },
  },

  mounted() {
    this.resetInterval();
    this.loadMyMonitorHuaPen();
  },
};
</script>
<style>
.dashboard-content,
.dashboard-content .dashboard-main {
  height: 100% !important;
}

.dashboard-content .dashboard-main {
  font-size: 0.8em;
}

.dashboard-main {
  display: flex;
  flex-flow: row wrap;
}
.dashboard-main .device-item {
  min-width: 300px;
  margin: 5px;
}

.monitorDevice {
  margin-bottom: 5px;
}
.monitorDevice .el-divider--horizontal {
  margin: 8px 0;
}
.monitorDevice .el-row {
  padding: 3px 0;
}
.device-item .el-card__body .el-row .el-col,
.device-item .el-card__header div,
.device-item .el-card__body .el-row .el-col {
  text-align: left;
}

.device-item .el-card__header {
  background-color: rgba(211, 220, 230, 0.63);
  font-size: 1.1em;
}

.device-item .el-card__body {
  padding: 10px;
}

.yolo-slider-nouse .el-slider .el-slider__bar {
  background-color: #8bac7b !important;
}
.yolo-slider-nouse .el-slider .el-slider__button-wrapper .el-tooltip {
  border-color: #8bac7b !important;
}
.box-card{
  background-color: rgba(248, 245, 245, 0.79);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

</style>