<template>
  <div>
    <el-card class="box-card devicetable">
      <div slot="header" style="text-align: left">
        Device
        <el-button
          @click="toggleDrawer(true, 'add')"
          type="primary"
          style="margin-left: 3px; padding: 10px"
          plain
        >
          <i class="el-icon-plus white"></i>
        </el-button>
        <device-info-drawer
          ref="deviceInfoDrawer"
          :drawerType="myDevice.drawerType"
          :deviceId="myDevice.deviceId"
        ></device-info-drawer>
      </div>
      <el-table
        :data="myDevice.devices"
        style="width: 100%; background-color: transparent"
        :row-class-name="tableRowClassName"
        :header-cell-style="{ background: 'rgba(30, 65, 241, 0)' }"
        v-loading="uiData.loading"
        element-loading-text="loading devices..."
        element-loading-spinner="el-icon-loading"
        empty-text="No Data"
        highlight-current-row
        @row-click="openDeviceInfo"
      >
        <el-table-column label="Device Id" prop="deviceId" v-if="false">
        </el-table-column>
        <el-table-column
          label="Device Name"
          prop="deviceName"
        ></el-table-column>
        <el-table-column label="MT" prop="mt"> </el-table-column>
        <el-table-column label="SN" prop="sn"> </el-table-column>
        <el-table-column label="Status" prop="status"> </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>
<script>
import DeviceInfo from "./deviceinfo.vue";
export default {
  name: "Devices",
  components: { "device-info-drawer": DeviceInfo },
  data() {
    return {
      userId: sessionStorage.getItem("userId"),
      uiData: {
        loading: true,
      },
      myDevice: {
        drawerType: "add",
        deviceId: "",
        devices: [],
      },
    };
  },
  methods: {
    openDeviceInfo(row, column, event) {
      this.myDevice.deviceId = row.deviceId;
      this.toggleDrawer(true, "view");
    },
    toggleDrawer(open = false, drawerType) {
      this.myDevice.drawerType = drawerType;
      this.$refs.deviceInfoDrawer.toggleDrawer(open);
    },
    loadMyDevices() {
      this.$axios
        .get("/api/user-devices/" + this.userId)
        .then((response) => {
          this.uiData.loading = false;
          if (response.statusCode == 200) {
            this.myDevice.devices.length = 0;
            const responseData = response.data;
            const table_data = [];
            response.data.forEach((device) => {
              table_data.push({
                deviceId: device.deviceId,
                deviceName: device.deviceName,
                mt: device.mt,
                sn: device.sn,
                status: device.status,
              });
            });
            this.myDevice.devices = table_data;
          } else {
            console.log(response.data);
            this.$notify.success({
              title: "error",
              message: "Load device error!",
            });
          }
        })
        .catch((error) => {
          this.uiData.loading = false;
          console.log(error);
          alert(error);
        });
    },
    // table底色控制
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return "warning-row";
      } else if (rowIndex === 3) {
        return "success-row";
      }
      return "other-row";
    },
  },
  mounted() {
    this.loadMyDevices();
  },
};
</script>
<style scoped>
.devicetable {
  min-width: 500px;
}

.devicetable .table {
  min-width: 520px;
}
.devicetable .el-icon-circle-plus-outline {
  margin-left: 15px;
}
</style>